<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Bullsy &#187; Blogroll</title>
	<atom:link href="http://bullsy.premiumcoding.com/category/blogroll/feed/" rel="self" type="application/rss+xml" />
	<link>http://bullsy.premiumcoding.com</link>
	<description>Bullsy Wordpress Blog</description>
	<lastBuildDate>Wed, 14 May 2014 09:51:02 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.6.1</generator>
		<item>
		<title>Rugged Shoe</title>
		<link>http://bullsy.premiumcoding.com/rugged-shoe/</link>
		<comments>http://bullsy.premiumcoding.com/rugged-shoe/#comments</comments>
		<pubDate>Thu, 03 Jan 2013 08:14:07 +0000</pubDate>
		<dc:creator>admin</dc:creator>
				<category><![CDATA[Blogroll]]></category>
		<category><![CDATA[News]]></category>
		<category><![CDATA[business]]></category>
		<category><![CDATA[mouse]]></category>

		<guid isPermaLink="false">http://musica.premiumcoding.com/?p=6100</guid>
		<description><![CDATA[Lorem ipsum dolor sit amet, consecteter adipiscing elit , sed <a href="http://bullsy.premiumcoding.com/rugged-shoe/">Continue Reading &#8594;</a>]]></description>
				<content:encoded><![CDATA[<p>Lorem ipsum dolor sit amet, consecteter <strong>adipiscing elit</strong> , sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci. tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
<p>Feature number 1<br />
Feature number 2<br />
Feature number 3</p>
]]></content:encoded>
			<wfw:commentRss>http://bullsy.premiumcoding.com/rugged-shoe/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
