<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
		>
<channel>
	<title>Comments on: Home Revolution Slider with Posts</title>
	<atom:link href="http://bullsy.premiumcoding.com/home-revolution-slider-with-posts/feed/" rel="self" type="application/rss+xml" />
	<link>http://bullsy.premiumcoding.com</link>
	<description>Bullsy Wordpress Blog</description>
	<lastBuildDate>Sun, 08 Jul 2012 19:02:06 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.6.1</generator>
</channel>
</rss>
