<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Bullsy &#187; link</title>
	<atom:link href="http://bullsy.premiumcoding.com/tag/link/feed/" rel="self" type="application/rss+xml" />
	<link>http://bullsy.premiumcoding.com</link>
	<description>Bullsy Wordpress Blog</description>
	<lastBuildDate>Wed, 14 May 2014 09:51:02 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.6.1</generator>
		<item>
		<title>This is a link post</title>
		<link>http://bullsy.premiumcoding.com/this-is-link-post/</link>
		<comments>http://bullsy.premiumcoding.com/this-is-link-post/#comments</comments>
		<pubDate>Sun, 04 Mar 2012 11:51:19 +0000</pubDate>
		<dc:creator>admin</dc:creator>
				<category><![CDATA[News]]></category>
		<category><![CDATA[Photographers]]></category>
		<category><![CDATA[business]]></category>
		<category><![CDATA[link]]></category>
		<category><![CDATA[mouse]]></category>

		<guid isPermaLink="false">http://mistix.premiumcoding.com/?p=3665</guid>
		<description><![CDATA[Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam <a href="http://bullsy.premiumcoding.com/this-is-link-post/">Continue Reading &#8594;</a>]]></description>
				<content:encoded><![CDATA[<blockquote><p>Lorem ipsum dolor sit amet, consecteter <strong>adipiscing elit</strong>, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p></blockquote>
]]></content:encoded>
			<wfw:commentRss>http://bullsy.premiumcoding.com/this-is-link-post/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
