<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Bullsy &#187; financial</title>
	<atom:link href="http://bullsy.premiumcoding.com/tag/financial/feed/" rel="self" type="application/rss+xml" />
	<link>http://bullsy.premiumcoding.com</link>
	<description>Bullsy Wordpress Blog</description>
	<lastBuildDate>Wed, 14 May 2014 09:51:02 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>http://wordpress.org/?v=3.6.1</generator>
		<item>
		<title>Colorful Shoes</title>
		<link>http://bullsy.premiumcoding.com/colorful-shoes/</link>
		<comments>http://bullsy.premiumcoding.com/colorful-shoes/#comments</comments>
		<pubDate>Fri, 03 Feb 2012 09:16:00 +0000</pubDate>
		<dc:creator>admin</dc:creator>
				<category><![CDATA[Featured]]></category>
		<category><![CDATA[News]]></category>
		<category><![CDATA[analysis]]></category>
		<category><![CDATA[chart]]></category>
		<category><![CDATA[financial]]></category>

		<guid isPermaLink="false">http://localhost:2222/wordpress/?p=1473</guid>
		<description><![CDATA[Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam <a href="http://bullsy.premiumcoding.com/colorful-shoes/">Continue Reading &#8594;</a>]]></description>
				<content:encoded><![CDATA[<p>Lorem ipsum dolor sit amet, consecteter <strong>adipiscing elit</strong>, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. <strong>Nam liber tempor</strong> cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.</p>
<p>Investigationes demonstraverunt<strong> lectores legere</strong> me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram,anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum.</p>
<p><span id="more-1473"></span></p>
<p><a href="http://bullsy.premiumcoding.com/wp-content/uploads/2012/02/post-image-10.jpg" rel="lightbox[1473]"><img class="alignnone size-full wp-image-7437" alt="Walking in the Sunset" src="http://bullsy.premiumcoding.com/wp-content/uploads/2012/02/post-image-10.jpg" width="860" height="390" /></a></p>
<p>Investigationes demonstraverunt<strong> lectores legere</strong> me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram,anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
]]></content:encoded>
			<wfw:commentRss>http://bullsy.premiumcoding.com/colorful-shoes/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
